.FooterWrapper {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(var(--primary-rgb) 1.1px, var(--background-rgb) 1.1px);
    background-size: 22px 22px;
}
.FooterGrid {
    opacity: 1;
    margin: 1.5rem 0 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.FooterGrid1 {
    display: flex;
    align-items: center;
}
.FooterTitle {
    margin-right: 2rem;
  }
