@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section, main {
  margin-bottom: 1.5rem;
}

