.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 0.5rem 3rem 0.5rem;
}

.logo_wrapper {
  width: 350px;
  height: 350px;
  position: relative;
  filter: grayscale(0);
  transition: all 0.3s ease-in-out;
}

.logo_wrapper:hover {
  filter: grayscale(1);
  filter: saturate(1.2);
  transform: scale(110%);
}

.logo {
  transform: rotate(10deg);
}

.ribbon {
  transform: rotate(14deg);
  position: absolute;
  bottom: -7%;
  right: 49.6%;
}

.mari:hover {
  color: var(--secondary-rgb);
  letter-spacing: 2rem;
  transition: all 0.3s ease-in-out;
}

.nav_wrapper {
  background-color: #ffffff;
opacity: 0.8;
background-image: radial-gradient(var(--primary-rgb) 1.1px, var(--background-rgb) 1.1px);
background-size: 22px 22px;
}

.nav_wrapper ul {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.nav_wrapper ul li {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin: 1.5rem 0 1.5rem 0;
  transition: all 0.3s ease-in-out;

}

.nav_wrapper ul li:hover {
  background-color: var(--secondary-rgb);
  border-radius: var(--border-radius);
}

.contents_wrapper {
  margin: 1.5rem 0rem 1.5rem 0rem;
}
